flows/Payment_Processor.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Invoke_Apex</name>
        <label>Invoke Apex</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <actionName>PaymentProcessor</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>amount</name>
            <value>
                <elementReference>Amount_you_would_like_to_pay</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cardHolder</name>
            <value>
                <elementReference>Card_Holder</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cardNumber</name>
            <value>
                <elementReference>Card_Number</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cvv</name>
            <value>
                <elementReference>CVV</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>expirationMonth</name>
            <value>
                <elementReference>Card_Expiration_month</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>expirationYear</name>
            <value>
                <elementReference>Card_Expiration_Year</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mailingCity</name>
            <value>
                <elementReference>Address.city</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mailingCountry</name>
            <value>
                <elementReference>Address.country</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mailingPostalCode</name>
            <value>
                <elementReference>Address.postalCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mailingState</name>
            <value>
                <elementReference>Address.province</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mailingStreet</name>
            <value>
                <elementReference>Address.street</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PaymentProcessor</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Is_amount_empty</name>
        <label>Is amount empty?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Outstanding_Amount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Has a value, continue</defaultConnectorLabel>
        <rules>
            <name>Yes_is_empty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact.Payment_Amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact.Payment_Amount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AmoutIsEmpty</targetReference>
            </connector>
            <label>Yes, is empty</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>amountValidation</name>
        <dataType>Boolean</dataType>
        <expression>{!Get_Contact.Payment_Amount__c} &gt;= {!Amount_you_would_like_to_pay}</expression>
    </formulas>
    <formulas>
        <name>cardExpirationYearValidation</name>
        <dataType>Boolean</dataType>
        <expression>OR(
    AND(
    {!Card_Expiration_Year} &gt; YEAR(TODAY()),
    LEN(TEXT({!Card_Expiration_Year})) = 4),
    AND(
        {!Card_Expiration_month} &gt;= MONTH(TODAY()),
        {!Card_Expiration_Year} = YEAR(TODAY()),
        LEN(TEXT({!Card_Expiration_Year})) = 4
    )
)</expression>
    </formulas>
    <formulas>
        <name>cardNumberRegex</name>
        <dataType>Boolean</dataType>
        <expression>REGEX({!Card_Number}, &apos;^4[0-9]{12}(?:[0-9]{3})?$&apos;)</expression>
    </formulas>
    <formulas>
        <name>CVVValidation</name>
        <dataType>Boolean</dataType>
        <expression>OR(
        LEN(TEXT({!CVV})) = 3,
        LEN(TEXT({!CVV})) = 4
    )</expression>
    </formulas>
    <formulas>
        <name>monthValidation</name>
        <dataType>Boolean</dataType>
        <expression>{!Card_Expiration_month} &gt;= 1 &amp;&amp; {!Card_Expiration_month} &lt;= 12</expression>
    </formulas>
    <formulas>
        <name>nameRegex</name>
        <dataType>Boolean</dataType>
        <expression>REGEX({!Card_Holder}, &apos;^[a-zA-Z]+ [a-zA-Z]+$&apos;)</expression>
    </formulas>
    <formulas>
        <name>ourstandingPayment</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Contact.Payment_Amount__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Payment Processor {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Payment Processor</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_amount_empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>AmoutIsEmpty</name>
        <label>AmoutIsEmpty</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Label.No_Amount}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Exit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Outstanding_Amount</name>
        <label>Outstanding Amount</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Invoke_Apex</targetReference>
        </connector>
        <fields>
            <name>Outstanding_Payments</name>
            <fieldText>&lt;p&gt;{!$Label.Outstanding_Amount} {!ourstandingPayment}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Amount_you_would_like_to_pay</name>
            <dataType>Number</dataType>
            <fieldText>Amount you would like to pay</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Label.Amount} &lt;/span&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!ourstandingPayment}&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!amountValidation}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Outstanding_Amount_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Outstanding_Amount_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Card_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Card Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;{!$Label.Payment_Type}&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!cardNumberRegex}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Outstanding_Amount_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Card_Holder</name>
                    <dataType>String</dataType>
                    <fieldText>Card Holder</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;{!$Label.Invalid_Name}&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!nameRegex}</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Card_Number</leftValueReference>
                            <operator>NotEqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Outstanding_Amount_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Outstanding_Amount_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Card_Expiration_month</name>
                    <dataType>Number</dataType>
                    <fieldText>Card Expiration month</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;{!$Label.Card_Expiration_Month_Validation}&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!monthValidation}</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Card_Holder</leftValueReference>
                            <operator>NotEqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Outstanding_Amount_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Card_Expiration_Year</name>
                    <dataType>Number</dataType>
                    <fieldText>Card Expiration Year</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;{!$Label.Expired_Card}&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!cardExpirationYearValidation}</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Card_Expiration_month</leftValueReference>
                            <operator>NotEqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Outstanding_Amount_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CVV</name>
                    <dataType>Number</dataType>
                    <fieldText>CVV</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;{!$Label.CVV_Validation}&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!CVVValidation}</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Card_Expiration_Year</leftValueReference>
                            <operator>NotEqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Address</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>Get_Contact.MailingCity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>Get_Contact.MailingCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>Get_Contact.MailingPostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>Get_Contact.MailingState</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>Get_Contact.MailingStreet</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
